.row {
	width: 100%;
	float: right;
	box-sizing: border-box;
	color: green;
	background-color: white;
}

.column {
	width: 33.3333%;
	box-sizing: border-box;
	background-color: white;
	display: inline-block;
}

